body {
    background-image: url("../imgs/clear.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

#container {
    margin: 15% auto;
    width: 400px;
    opacity: .9;
}

.ui.card.forecast {
    float: left !important;
}

footer {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin: 0!important;
    padding: 0!important;
}
